@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family:'Times New Roman', Times, serif;
  
}

body{
   background-color:oklch(97.7% 0.013 236.62) ; 
}



